In [ ]:
import pandas as pd

# Markdown Cell

In [ ]:
df=pd.read_csv('/content/sample_data/california_housing_train.csv')

In [ ]:
df.head(15)

In [ ]:
df.tail(15)

In [ ]:
# First upload Salaries.csv
df=pd.read_csv("/content/Salaries.csv")

In [ ]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
# s=pd.read_csv('/content/sample_data/mnist_test.csv')

In [ ]:
# s.head()

In [ ]:
# Read /content/sample_data/california_housing_train.csv
#  and use describe , head, tail

In [ ]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [ ]:
df.tail(10)

         rank discipline  phd  service     sex  salary
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        78 non-null     object
 1   discipline  78 non-null     object
 2   phd         78 non-null     int64
 3   service     78 non-null     int64
 4   sex         78 non-null     object
 5   salary      78 non-null     int64
dtypes: int64(3), object(3)
memory usage: 3.8+ KB

In [ ]:
df['rank']

0          Prof
1          Prof
2          Prof
3          Prof
4          Prof
        ...
73         Prof
74    AssocProf
75         Prof
76         Prof
77         Prof
Name: rank, Length: 78, dtype: object

In [ ]:
df.phd.describe

<bound method NDFrame.describe of 0     56
1     12
2     23
3     40
4     20
      ..
73    18
74    19
75    17
76    28
77    23
Name: phd, Length: 78, dtype: int64>

In [ ]:
df.describe()

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
df.mean()

In [ ]:
df.phd.describe()

In [ ]:
df.phd.quantile(0.25)

In [ ]:
df.salary.quantile(0.50)

In [ ]:
df.salary.quantile(0.75)

In [ ]:
df.std()

<ipython-input-23-ce97bb7eaef8>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

phd           12.498425
service       12.139768
salary     28293.661022
dtype: float64

In [ ]:
df_50=df.head(50)

In [ ]:
df_50.mean()

<ipython-input-25-abcf5df04292>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_50.mean()

phd            21.52
service        17.60
salary     113789.14
dtype: float64

In [ ]:
df.head(50).mean()

<ipython-input-26-56442511a41d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.head(50).mean()

phd            21.52
service        17.60
salary     113789.14
dtype: float64

In [ ]:
#Selecting a column
df.salary # does not work if column name contains blank space or dot (eg. "No. of Columns")
#           for that enclose column name inside square bracket.

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [ ]:
df['salary'] # will work if column name has blank space of dot eg. df["No. of Columns"]

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [ ]:
result1=df.salary
result1

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [ ]:
# 2 data structures in pandas: 1. Series 2. DataFrame
# Pandas Series: is a one-dimensional labeled array whose object size cannot be changed.
# 
# Pandas DataFrame: is a two-dimensional structure with columns and rows whose size can be changed. 
# You can also think of it as a dictionary of Series objects.
type(result1)

pandas.core.series.Series

In [ ]:
result2=df[['salary']]

In [ ]:
result2

    salary
0   186960
1    93000
2   110515
3   131205
4   104800
..     ...
73  105450
74  104542
75  124312
76  109954
77  109646

[78 rows x 1 columns]

In [ ]:
type(result2)

pandas.core.frame.DataFrame

In [ ]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
# Extract particular columns in a new dataframe
newdf=df[['salary','service','phd']]
newdf

In [ ]:
df['discipline'].value_counts() # category and its value

B    42
A    36
Name: discipline, dtype: int64

In [ ]:
df['rank'].value_counts()

Prof         46
AsstProf     19
AssocProf    13
Name: rank, dtype: int64

Calculate the basic statistics for the Phd column;

Find how many values in the Phd column (use count method);

Calculate the average Phd;

In [ ]:
df.phd.describe()

In [ ]:
df.phd.count()

78

In [ ]:
df.phd.mean()

19.705128205128204

In [ ]:
# in rank 3 values: Asso,Asst,Prof. Group by this and find mean of each category
df.groupby(['rank']).mean() # group by rank and finds mean of all numeric columns

                 phd    service         salary
rank
AssocProf  15.076923  11.307692   91786.230769
AsstProf    5.052632   2.210526   81362.789474
Prof       27.065217  21.413043  123624.804348

In [ ]:
df.groupby(["discipline"]).count()

            rank  phd  service  sex  salary
discipline
A             36   36       36   36      36
B             42   42       42   42      42

In [ ]:
df.groupby(["discipline","rank"]).count()

                      phd  service  sex  salary
discipline rank
A          AssocProf    5        5    5       5
           AsstProf     8        8    8       8
           Prof        23       23   23      23
B          AssocProf    8        8    8       8
           AsstProf    11       11   11      11
           Prof        23       23   23      23

In [ ]:
df.groupby(["discipline","rank","sex"]).count()

                             phd  service  salary
discipline rank      sex
A          AssocProf Female    4        4       4
                     Male      1        1       1
           AsstProf  Female    6        6       6
                     Male      2        2       2
           Prof      Female    8        8       8
                     Male     15       15      15
B          AssocProf Female    6        6       6
                     Male      2        2       2
           AsstProf  Female    5        5       5
                     Male      6        6       6
           Prof      Female   10       10      10
                     Male     13       13      13

In [ ]:
df.groupby(["discipline","rank","sex"]).mean() # avg sal of discipline B's Male Prof is: 137989.076923

In [ ]:
df.groupby('rank')[['salary','phd']].mean() # group by rank and find mean of specified columns only

                  salary        phd
rank
AssocProf   91786.230769  15.076923
AsstProf    81362.789474   5.052632
Prof       123624.804348  27.065217

In [ ]:
grouped=df.groupby('rank') # saving in variable grouped

In [ ]:
for g in grouped: # to display records of grouped variable
  print(g)

In [ ]:
df[df.salary>120000]

    rank discipline  phd  service     sex  salary
0   Prof          B   56       49    Male  186960
3   Prof          A   40       31    Male  131205
5   Prof          A   20       20    Male  122400
7   Prof          A   18       18    Male  126300
10  Prof          B   39       33    Male  128250
11  Prof          B   23       23    Male  134778
13  Prof          B   35       33    Male  162200
14  Prof          B   25       19    Male  153750
15  Prof          B   17        3    Male  150480
19  Prof          A   29       27    Male  150500
26  Prof          A   38       19    Male  148750
27  Prof          A   45       43    Male  155865
29  Prof          B   21       20    Male  123683
31  Prof          B   22       21    Male  155750
35  Prof          B   28       23    Male  126933
36  Prof          B   45       45    Male  146856
39  Prof          B   18       18  Female  129000
40  Prof          A   39       36  Female  137000
44  Prof          B   23       19  Female  151768
45  Prof          B   25       25  Female  140096
49  Prof          B   17       18  Female  122960
51  Prof          B   20       14  Female  127512
58  Prof          B   36       26  Female  144651
72  Prof          B   24       15  Female  161101
75  Prof          B   17       17  Female  124312

In [ ]:
df.shape

(78, 6)

In [ ]:
df.shape[0]

78

In [ ]:
df[df.salary>120000].shape[0] # count of prof having sal > 120000

25

In [ ]:
df[df.salary>120000].count()

rank          25
discipline    25
phd           25
service       25
sex           25
salary        25
dtype: int64

In [ ]:
newdf=df[(df['sex']=='Male') & (df['salary']>150000)]
newdf

    rank discipline  phd  service   sex  salary
0   Prof          B   56       49  Male  186960
13  Prof          B   35       33  Male  162200
14  Prof          B   25       19  Male  153750
15  Prof          B   17        3  Male  150480
19  Prof          A   29       27  Male  150500
27  Prof          A   45       43  Male  155865
31  Prof          B   22       21  Male  155750

In [ ]:
# newdf.count()
# OR 
newdf.shape[0]

7

In [ ]:
df[df['rank']!='Prof'].shape[0]

32

In [ ]:
#df[(df['service']>15) | (df['salary']>100000)]
df[(df['service']>15) | (df['salary']>100000)].shape[0]

54

In [ ]:
df # will display all records

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
# to extract only particular index record - say 5th index record
df[5] # will raise error

In [ ]:
df.iloc[77] # iloc -> index location for row

In [ ]:
df.iloc[1:4, 0:3]  # row 1 to 3, col 0 to 2

   rank discipline  phd
1  Prof          A   12
2  Prof          A   23
3  Prof          A   40

In [ ]:
df.iloc[0:10,0:3] # 0 to 9 records, 0 to 2 columns

        rank discipline  phd
0       Prof          B   56
1       Prof          A   12
2       Prof          A   23
3       Prof          A   40
4       Prof          B   20
5       Prof          A   20
6  AssocProf          A   20
7       Prof          A   18
8       Prof          A   29
9       Prof          A   51

In [ ]:
df.iloc[0:2,] # rows 0 to 1 and all columns

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000

In [ ]:
df.iloc[:,4] #all rows, index 4 column

In [ ]:
df.iloc[:,0:3]

In [ ]:
df.iloc[[10,20,22,24],] # only particular rows with all columns

        rank discipline  phd  service   sex  salary
10      Prof          B   39       33  Male  128250
20  AsstProf          B    4        4  Male   92000
22  AsstProf          A    4        2  Male   73000
24      Prof          A   30       23  Male   91100

In [ ]:
df.loc[:,['rank','sex']] # without mentioning index no. - mention col name

In [ ]:
df.loc[[0,1,2],['discipline','rank']]

  discipline  rank
0          B  Prof
1          A  Prof
2          A  Prof

In [ ]:
df.iloc[::5] # all rows and columns with step value 5

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
5        Prof          A   20       20    Male  122400
10       Prof          B   39       33    Male  128250
15       Prof          B   17        3    Male  150480
20   AsstProf          B    4        4    Male   92000
25       Prof          B   35       31    Male   99418
30  AssocProf          B    9        7    Male  107008
35       Prof          B   28       23    Male  126933
40       Prof          A   39       36  Female  137000
45       Prof          B   25       25  Female  140096
50   AsstProf          B   10        5  Female   97032
55   AsstProf          A    2        0  Female   72500
60   AsstProf          B    3        3  Female   92000
65       Prof          A   36       19  Female  117555
70   AsstProf          A    8        3  Female   78500
75       Prof          B   17       17  Female  124312

In [ ]:
df.iloc[10:30:4]

        rank discipline  phd  service   sex  salary
10      Prof          B   39       33  Male  128250
14      Prof          B   25       19  Male  153750
18      Prof          A   19        7  Male  107300
22  AsstProf          A    4        2  Male   73000
26      Prof          A   38       19  Male  148750

In [ ]:
df.iloc[::-1] # all records in reverse order

Aggregation Function in Pandas
Aggreation - Computing a summary statistic about each group

In [ ]:
dir(df) # functions that can be applied on dataframe

Common aggregation functions are:min,max,count,sum,prod,mean,median,mode,mad,std,var

In [ ]:
# Compute group sums or means
# Compute group sizes or counts
# agg() or aggregate()  - useful when multiple statistics are computed per column
# Here's how to calculate the mean absolute deviation - mad().
#Step 1: Calculate the mean.
#Step 2: Calculate how far away each data point is from the mean using positive distances. These are called absolute deviations.
#Step 3: Add those deviations together.
#Step 4: Divide the sum by the number of data points.

df[['phd','salary']].agg(['min','mean','max','mad','std'])

            phd         salary
min    1.000000   57800.000000
mean  19.705128  108023.782051
max   56.000000  186960.000000
mad    9.920776   22957.266930
std   12.498425   28293.661022

In [ ]:
df[['salary']].agg('skew')

salary    0.452103
dtype: float64

In [ ]:
df[['salary']].agg('kurt')

salary   -0.401713
dtype: float64

In [ ]:
df.var()

<ipython-input-28-28ded241fd7c>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.var()

phd        1.562106e+02
service    1.473740e+02
salary     8.005313e+08
dtype: float64

In [ ]:
df.sem() #std error of mean - Standard error i.e.Sigma / square root of n

<ipython-input-29-cc3faf423f7b>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sem() #std error of mean - Standard error i.e.Sigma / square root of n

phd           1.415168
service       1.374558
salary     3203.626259
dtype: float64